.page_pagination {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;                 
    left: 0;
    width: 100%;            
    z-index: 1000;
    background-color: white;
    padding: .2rem 0;       
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
}

.page_pagination_button{
    margin: 1% 6.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: none;
    border: none;
}
.page_pagination_button:hover{
    cursor: pointer;
}
.icon{
    color: blue;
    font-size: 30px;
}
.page_home{
    display: flex;
    margin-top: 4.7rem;
    background: linear-gradient(120deg, white, black);
}
.page_home_left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.page_home_right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_home_right_img{
    width: 60%;
}
.page_about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page_about_paragraph{
    margin: 3%;
}
.page_certificates{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.page_certificates_imgdiv{
    display: flex;
}
.page_certificates_imgdiv_img{
    display: flex;
    width: 40%;
}
.page_contact{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.page_contact_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.page_contact_div_div{
    flex: 1;
    margin: 2rem 5rem;
}